<!DOCTYPE html>
<html>
{{> header}}

<body>
    <h1>We'll be right back</h1>
    <p>Web site is current being update. Try it later and thank you for your understanding!</p>

    {{> footer}}
</body>

</html>